
h1 {
  text-shadow: 2px 2px #3F566C;
  font-size: 40pt;
  text-align: center;
  color: white;
}
#banner {
  text-shadow: 2px 2px #3F566C;
  color: white;
  font-size: 20pt;
  text-align: center;
}
#section {
  background-color: #3F566C;
  height: 20px;
}
#rowA {
  border: 1px solid black;
}
#rowB {
  border: 1px solid black;
}

#rowC {
  border: 1px solid black;
}
.grid {
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 600px;
  text-align: center;
}
.X {
  background-image: url("xicon.png");
  background-position: center;
}
.O {
  background-image: url("oicon.gif");
  background-position: center;
}
#A1 {
  height:200px;
  width: 200px;
  border: 2px solid #3F566C;
  background-color: white;
  background-repeat: no-repeat;
}
#A2 {
  height:200px;
  width: 200px;
  border: 2px solid #3F566C;
  background-color: white;
  background-repeat: no-repeat;
}
#A3 {
  height:200px;
  width: 200px;
  border: 2px solid #3F566C;
  background-color: white;
  background-repeat: no-repeat;
}
#B1 {
  height:200px;
  width: 200px;
  border: 2px solid #3F566C;
  background-color: white;
  background-repeat: no-repeat;
}
#B2 {
  height:200px;
  width: 200px;
  border: 2px solid #3F566C;
  background-color: white;
  background-repeat: no-repeat;
}
#B3 {
  height:200px;
  width: 200px;
  border: 2px solid #3F566C;
  background-color: white;
  background-repeat: no-repeat;
}
#C1 {
  height:200px;
  width: 200px;
  border: 2px solid #3F566C;
  background-color: white;
  background-repeat: no-repeat;
}
#C2 {
  height:200px;
  width: 200px;
  border: 2px solid #3F566C;
  background-color: white;
  background-repeat: no-repeat;
}
#C3 {
  height:200px;
  width: 200px;
  border: 2px solid #3F566C;
  background-color: white;
  background-repeat: no-repeat;
}
body {
  background-color: #7CA8D2;
}
/*#footer {
  margin-bottom: -10px;
  bottom: 0;
  background-color: #3F566C;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #3F566C;
}*/
